# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib
*.obj
*.dll
*.lib
*.pdb
*.tlog
*.user
*.vcxproj
*.vcxproj.*
*.log
*.pdb
*.Debug
*.Release
*.exp
*.sln

# Executables
*.exe
*.out
*.app
*.pdf

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database 
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

#vscode
*build*
*.vscode*

#cmake
CMakeFiles*
*.cmake
CMakeCache*

#python
*.pyc

.vscode/c_cpp_properties.json
